body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
     overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.box {
      width: 100vw;   
  height: 100vh;  
  position: absolute;
  background-color: rgba(25, 161, 174, 1);
  z-index: -3;
 overflow: hidden;
}

.circle-one {
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: RGBA(9, 137, 180, 0.0001);
    background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    position: absolute;
    z-index: -1;
    top: -40%;
    left: -15%;
    transform: rotate(165deg);
    opacity: 50%;
}

.circle-two {
     width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: RGBA(9, 137, 180, 0.0001);
    background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
    position: absolute;
    z-index: -1;
    transform: rotate(90deg);
    opacity: 0.25;
    top: 600px;
left: 1000px;

}

.card {
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
height: 490px;
background-color: white;
overflow: hidden;
z-index: 1;
  width: min(90%, 450px);
}

.background-image {
    margin: 0;
    width: 100%;
    height: 40%;
   background: rgba(83, 255, 238, 1);
   position: relative;
   padding: 10px;
}    


.profile-image img {
    position: absolute;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    bottom: 0;
    left: 47%;
    transform: translate(-50%, 50%);
    background-color: white;
    padding: 10px;

}

.profile-content {
    text-align: center;
    }

.profile-content h2 {
   font-family: sans-serif;
font-weight: 700;
font-style: bold;
font-size: 18px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;
 margin-top: 80px;
}

.profile-content p {
    font-family: sans-serif;
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;

}


.profile-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    color: #000000;
}

.stat h3 {
    font-family: sans-serif;
font-weight: 700;
font-style: bold;
font-size: 22px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;

}

.stat p {
    color: grey;
    font-family: Kumbh Sans;
font-weight: 400;
font-style: normal;
font-size: 15px;
line-height: 125%;
letter-spacing: 1.5px;
text-align: center;

}


@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }
}
